<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}
			Test hackathon
		{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/components.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
	<nav>
		<div class="header">
			<div class="foodpanda-logo-horizontal-padd">
				<a href="/">
				  <img class="foodpanda-logo-horizontal" alt="" src="{% static 'assets/foodpanda_logo_horizontal.png' %}">
				</a>
			</div>
			<div class="topnav">
				<div class="topnav" id="topnavLinks">
					<a href="/"><b>Home</b></a>
					<a href="/about"><b>About</b></a>
					<a href="/test"><b>Test</b></a>
					<div class="button button-secondary">
						<b>Login</b>
					</div>
					<div class="button button-primary">
							<b>Register</b>
					</div>
					<a href="javascript:void(0);" class="icon" id="toggleModeIcon">
						<span class="material-icons primary">dark_mode</span>
					</a>
				</div>
				<a href="javascript:void(0);" class="icon" id="menuIcon">
					<span class="material-icons primary">menu</span>
				</a>
			</div>
	  </div>
	</nav>
	<main>
		{% block content %}
		{% endblock %}
	</main>
	<div class="footer">
		<div class="logo-section">
			<img class="icon" alt="Figma logo" src="{% static 'assets/Figma.svg' %}">
			<div class="social-icons">
				<img alt="X logo" src="{% static 'assets/X_Logo.svg' %}">
				<img alt="Instagram logo" src="{% static 'assets/Logo_Instagram.svg' %}">
				<img alt="YouTube logo" src="{% static 'assets/Logo_YouTube.svg' %}">
				<img alt="LinkedIn logo" src="{% static 'assets/LinkedIn.svg' %}">
			</div>
		</div>
		<div class="footer-link-list">
			<h3>Use cases</h3>
			<ul>
				<li>UI design</li>
				<li>UX design</li>
				<li>Wireframing</li>
				<li>Diagramming</li>
				<li>Brainstorming</li>
				<li>Online whiteboard</li>
				<li>Team collaboration</li>
			</ul>
		</div>
		<div class="footer-link-list">
			<h3>Explore</h3>
			<ul>
				<li>Design</li>
				<li>Prototyping</li>
				<li>Development features</li>
				<li>Design systems</li>
				<li>Collaboration features</li>
				<li>Design process</li>
				<li>FigJam</li>
			</ul>
		</div>
		<div class="footer-link-list">
			<h3>Resources</h3>
			<ul>
				<li>Blog</li>
				<li>Best practices</li>
				<li>Colors</li>
				<li>Color wheel</li>
				<li>Support</li>
				<li>Developers</li>
				<li>Resource library</li>
			</ul>
		</div>
	</div>
</body>
</html>
