{% extends 'layout.html' %}
{% load static %}

{% block title %}
	Test
{% endblock %}

{% block content %}
<div class="hero-image">
	<div class="text-content-title">
			<h2>Title</h2>
			<div class="subtitle">Subtitle</div>
	</div>
</div>
	{% comment %}
	<div class="panel-image-double">
		<img class="image-icon" alt="" src="Image.png">
		
		<img class="image-icon" alt="" src="Image.png">
		
	</div>
	{% endcomment %}
<div class="card-grid-icon">
	<div class="text-content-heading">
			<b class="heading">Heading</b>
			<div class="subheading">Subheading</div>
	</div>
	<div class="cards">
			<div class="card">
				<img class="info-icon" alt="" src="{% static 'assets/Info.svg' %}">
				
				<div class="body">
						<div class="text">
							<b class="heading">Title</b>
							<div class="body-text-for">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </div>
						</div>
				</div>
			</div>
			<div class="card">
				<img class="info-icon" alt="" src="{% static 'assets/Info.svg' %}">
				
				<div class="body">
						<div class="text">
							<b class="heading">Title</b>
							<div class="body-text-for">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </div>
						</div>
				</div>
			</div>
			<div class="card">
				<img class="info-icon" alt="" src="{% static 'assets/Info.svg' %}">
				
				<div class="body">
						<div class="text">
							<b class="heading">Title</b>
							<div class="body-text-for">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </div>
						</div>
				</div>
			</div>
			<div class="card">
				<img class="info-icon" alt="" src="{% static 'assets/Info.svg' %}">
				
				<div class="body">
						<div class="text">
							<b class="heading">Title</b>
							<div class="body-text-for">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </div>
						</div>
				</div>
			</div>
			<div class="card">
				<img class="info-icon" alt="" src="{% static 'assets/Info.svg' %}">
				
				<div class="body">
						<div class="text">
							<b class="heading">Title</b>
							<div class="body-text-for">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </div>
						</div>
				</div>
			</div>
			<div class="card">
				<img class="info-icon" alt="" src="{% static 'assets/Info.svg' %}">
				
				<div class="body">
						<div class="text">
							<b class="heading">Title</b>
							<div class="body-text-for">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </div>
						</div>
				</div>
			</div>
	</div>
</div>

{% endblock %}
