{% extends 'layout.html' %}
{% load static %}

{% block title %}
	Test
{% endblock %}

{% block content %}
<div class="hero-image">
	<div class="text-content-title">
			<h2>Title</h2>
			<h3>Subtitle</h3>
	</div>
</div>
	{% comment %}
	<div class="panel-image-double">
		<img class="image-icon" alt="" src="Image.png">
		
		<img class="image-icon" alt="" src="Image.png">
		
	</div>
	{% endcomment %}
<div class="body-content">
	<div class="text-content-heading">
			<h2>Heading</h2>
			<h3 class="subheading">Subheading</h3>
	</div>
	<div class="cards">
		{% for i in '123456'|make_list %}
		<div class="card">
			<img class="info-icon" alt="" src="{% static 'assets/Info.svg' %}">
			
			<div class="body">
					<div class="text">
						<b class="card-title">Title</b>
						<div class="body-text-for">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </div>
					</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
