/*--------------------------------------------------------------*/
/* ICONS */
/*--------------------------------------------------------------*/

.material-icons.primary {
	color: var(--text-color);
}

.material-icons.primary:active {
	color: var(--primary-dark);
}

/*--------------------------------------------------------------*/
/* BUTTONS */
/*--------------------------------------------------------------*/

.button {
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 14px 36px;
	position: relative;
	transition: 0.3s;
}
.button-primary {
	background-color: var(--button-color);
	border: 1px solid var(--background-color);
	color: #fff;
}
.button-primary:hover {
    background-color: var(--primary-light);
}
.button-secondary {
	background-color: var(--background-color);
	border: 1px solid var(--button-color);
	color: var(--button-color);
}
.button-secondary:hover {
	background-color: var(--primary-light);
	border: 1px solid var(--primary-light);
	color: #fff;
}
