.foodpanda-logo-horizontal {
  	position: absolute;
  	top: 21px;
  	left: 5.25px;
  	width: 262.5px;
  	height: 43.6px;
  	object-fit: cover;
}
.foodpanda-logo-horizontal-padd {
  	width: 273px;
  	position: relative;
  	height: 85.6px;
}
.title {
  	position: relative;
  	line-height: 100%;
}

.header {
  	width: 100%;
  	background-color: var(--background-color);
  	border-bottom: 1px solid var(--border-color);
  	box-sizing: border-box;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  	align-content: center;
  	padding: 32px;
  	gap: 0px 32px;
}
.subtitle {
  	align-self: stretch;
  	position: relative;
  	font-size: 32px;
  	line-height: 120%;
  	font-family: 'Montserrat', sans-serif;
}
.text-content-title {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.hero-image {
  	align-self: stretch;
  	background-color: var(--primary-color);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 160px 24px;
  	text-align: center;
  	font-size: 56px;
  	color: #e5e5e5;
  	font-family: 'Montserrat', sans-serif;
}

.panel-image-double {
  	align-self: stretch;
  	background-color: var(--background-color);
  	height: 478px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 64px;
  	box-sizing: border-box;
  	gap: 48px;
  	opacity: 0.8;
}

.sample {
  	width: 100%;
  	position: relative;
  	background-color: var(--background-color);
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 16px;
  	color: #1e1e1e;
  	font-family: 'Montserrat', sans-serif;
}
