/*--------------------------------------------------------------*/
/* GENERAL STYLING */
/*--------------------------------------------------------------*/

:root {
	/* Define base colours in light mode */
	--background-color: #ffffff;
	--text-color: #1e1e1e;
	--primary-color: #ff2b85;
	--secondary-color: #f5f5f5;
	--border-color: #d9d9d9;
	--primary-dark: #A11350;
	--primary-light: #FFACCF;
}

.dark-mode {
	/* Invert colours for dark mode */
	--background-color: #1e1e1e;
	--text-color: #ffffff;
	--primary-color: #ff4b9e;
	--secondary-color: #2a2a2a;
	--border-color: #444444;
}

body {
	font-size: 3rem;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}

/*--------------------------------------------------------------*/
/* HEADINGS */
/*--------------------------------------------------------------*/

h1 {
	font-size: 56px;
	line-height: 66px;
}

h2 {
	font-size: 36px;
	line-height: 46px;
}

h3 {
	font-size: 24px;
	line-height: 34px;
}

h4 {
	font-size: 22px;
	line-height: 28px;
}

p {
	font-size: 18px;
	line-height: 30px;
}
